//General
    body{
        background-color: $white;
    }

    *{
        font-family: 'Roboto', sans-serif;
    }
        
    h1,h2,h3,h4,h5,h6{
        font-family: 'Oswald', sans-serif;
    }

    a{
        color: $link;
    }

    ul{
        margin: 10px;
        padding: 0;
    }

    li{
        list-style: none;
    }


//Clases Generales
    .boton{
        display: inline;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 3px;
        margin: 5px 0;
        background-color: $red;
    }
