//Variables Generales

//Colores

    $link: #fafafa;
    $link-analisis: #a24069;
    $slide-back: rgba(51,51,51,.6);
    $red: #a24069;
    $blue:#2d537a;
    $white:#e6d6bf;
    $purple:#6341a5;
    $black: #343a40;

//Medidas
    $padding: 100px;
    $margin: 20px;