/*========General-Movil========*/
a{
    color: #333;
}

/*========Secciones-Movil========*/
[data-blog="cabecera"]{
    margin-top: 2rem;
    background-color:  #f5b041 ;    
}

[data-blog="slide-novedades"]{
    display: none;
}

[data-blog="aside"]{
    display: none;
}

[data-blog="pie-pagina"]{
    background-color:  #f5b041;
}

/*========Clases-Movil========*/
    /*Card*/
        .card{
            opacity: 0.8;
        }

        .card:hover{
            opacity: 1;
        }

/*========Desktop========*/
    @media (min-width: 900px) { 

        [data-blog="slide-novedades"]{
            display: block;
        }
        
        [data-blog="contenido"]{
            padding: 50px 0;
        }
        
        [data-blog="aside"]{
            display: block;
            padding: 50px 0;
        }
     }

/*========Clases Desktop========*/
     .slide-black-content{
        background-color: rgba(51, 51, 51,.6);
        border-radius: 15px;
        padding: .5rem;
    }

    .img{
        width: 250px;
        height: 250px;
    }
