@charset "UTF-8";
body {
  background-color: #e8d6a8; }

* {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; }

a {
  color: #fafafa; }

ul {
  margin: 10px;
  padding: 0; }

li {
  list-style: none; }

.boton {
  display: inline;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px 0;
  background-color: #a24069; }

.card {
  opacity: 0.8; }

.card:hover {
  opacity: 1; }

.back-slide {
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 15px;
  padding: .5rem; }

.back-red {
  background-color: #2d537a; }

.img {
  width: 250px;
  height: 150px; }

.link-twitch {
  color: #6341a5;
  font-weight: 400; }

.link-negro {
  color: #343a40;
  font-weight: 400; }

.show {
  display: block; }

.b2 {
  border: 2px solid black; }

.listas {
  list-style: inherit; }

.text-color {
  color: #e6d6bf;
  text-shadow: 4px 4px #343a40; }

/*========Secciones-Movil========*/
[data-blog="cabecera-img"] {
  height: 100vh;
  background-image: url("../img/ninanbu.svg");
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat; }

[data-blog="cabecera-principal"] {
  padding: 50px 0; }

[data-blog="cabecera-bis"] {
  display: block; }

/*========Secciones-Desktop========*/
@media (min-width: 900px) {
  [data-blog="cabecera-principal"] {
    padding: 100px 0; }
  [data-blog="cabecera-bis"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  [data-blog="cabecera-bis"] > article {
    margin-left: 20px; } }

/*========Secciones-Movil========*/
[data-blog="horarios"] {
  font-size: 1.4rem; }

[data-blog="cartelera-uno"] {
  height: 45vh;
  background-image: url("../img/ahora123.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fafafa; }

[data-blog="novedades"] {
  padding: 50px; }

/*========Secciones-Desktop========*/
@media (min-width: 900px) {
  [data-blog="cartelera-uno"] {
    height: 45vh;
    background-image: url("../img/also.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fafafa; }
  [data-blog="horarios"] {
    font-size: 3rem; } }

/*========Clases-Movil========*/
.bkgcollapse-false {
  background-color: #a24069; }

.bkgcollapse-true {
  background-color: #2d537a; }

.link-collapse {
  color: #e6d6bf; }

.link-color-analisis {
  color: #2d537a; }

.conclusion {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #a24069; }

.video {
  display: block;
  width: 100%; }

.link-analisis {
  color: #a24069;
  font-weight: bold; }

.afavor {
  color: #68dbc4;
  font-weight: bold; }

.encontra {
  color: #dc7633;
  font-weight: bold; }

.flex-movil {
  display: block; }

/*========Version Movil========*/
[data-blog="analisis-main"] article > div {
  margin: 10px 0px; }

[data-analisis="video_analisis"] {
  max-width: 600px;
  margin: auto;
  margin-bottom: 1rem; }

[data-analisis="contenido"] {
  margin-top: 90px; }

/*========Version Desktop========*/
@media (min-width: 900px) {
  [data-blog="analisis-main"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex-movil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .show {
    display: none; }
  /*========Imagen Portada Reseña========*/
  #outlast-card {
    height: 100vh;
    background-image: url("../analisis/img/Outlast/outlast-card.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  #darkest-card {
    height: 100vh;
    background-image: url("../analisis/img/DarkestDungeon/darkest-card.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  #deadSpace-card {
    height: 100vh;
    background-image: url("../analisis/img/DeadSpace/deadspace.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  #thisWarOfMine-card {
    height: 100vh;
    background-image: url("../analisis/img/ThisWarOfMine/card.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  #deepRockGalactic-card {
    height: 100vh;
    background-image: url("../analisis/img/DeepRockGalactic/confrontacion.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  #minit-card {
    height: 100vh;
    background-image: url("../analisis/img/Minit/minit.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  #superflight-card {
    height: 100vh;
    background-image: url("../analisis/img/SuperFlight/superflight.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  #heroesOfTheStorm-card {
    height: 100vh;
    background-image: url("../analisis/img/HeroesOfTheStorm/heroes.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  #enterTheGungeon-card {
    height: 100vh;
    background-image: url("../analisis/img/EnterTheGungeon/gungeon-card.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat; } }

/*========Version Movil========*/
/*========Version Desktop========*/
@media (min-width: 900px) {
  [data-blog="noticias"] {
    padding: 100px 0; } }

/*========Version Movil========*/
.componentes-box {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 10px;
  background-color: #a24069; }

[data-blog="mapa"] li {
  list-style: inherit; }

/*========Version Desktop========*/
@media (min-width: 900px) {
  .componentes-box {
    margin: 30px 0 200px 0;
    padding: 10px; } }

[data-blog="pie-pagina"] {
  color: #e6d6bf;
  background-color: #343a40; }
