a {
  color: #fafafa;
  text-decoration: none; }

body {
  background-color: #e6d6bf; }

.card {
  opacity: 0.8; }

.card:hover {
  opacity: 1; }

.back-slide {
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 15px;
  padding: .5rem; }

.back-red {
  background-color: #2d537a; }

.img {
  width: 250px;
  height: 150px; }

.link-twitch {
  color: #6341a5;
  font-weight: 400; }

.link-negro {
  color: #343a40;
  font-weight: 400; }

.noshow-mobile {
  display: none; }

.b2 {
  border: 2px solid black; }

/*========Secciones-Movil========*/
[data-blog="cabecera-img"] {
  height: 100vh;
  background-image: url("../img/ninanbu.svg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

[data-blog="cabecera-principal"] {
  padding: 50px 0; }

[data-blog="cabecera-bis"] {
  display: block; }

/*========Secciones-Desktop========*/
@media (min-width: 900px) {
  [data-blog="cabecera-principal"] {
    padding: 100px 0; }
  [data-blog="cabecera-bis"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  [data-blog="cabecera-bis"] > article {
    margin-left: 20px; } }

/*========Secciones-Movil========*/
[data-blog="ultimas-novedades"] {
  background-color: #e6d6bf; }

[data-blog="ultimas-novedades"] {
  background-color: #e6d6bf; }

[data-blog="extras"] {
  font-size: 1.4rem;
  background-color: #2d537a; }

[data-blog="cartelera-uno"] {
  height: 45vh;
  background-image: url("../img/darkest-movil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fafafa; }

/*========Secciones-Desktop========*/
@media (min-width: 900px) {
  [data-blog="cartelera-uno"] {
    height: 45vh;
    background-image: url("../img/darkest-pc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fafafa; }
  [data-blog="ultimas-novedades"] {
    padding: 50px 0;
    background-color: #e6d6bf; }
  [data-blog="extras"] {
    font-size: 3rem; } }

@media (min-width: 900px) {
  [data-blog="noticias"] {
    padding: 100px 0; } }

@media (min-width: 900px) {
  [data-blog="reviews"] {
    padding: 100px 0; } }

[data-blog="slide-novedades"] {
  display: none; }

@media (min-width: 900px) {
  [data-blog="slide-novedades"] {
    display: block; } }

[data-blog="aside"] {
  display: none; }

@media (min-width: 900px) {
  [data-blog="aside"] {
    display: block;
    margin-top: 50px;
    border-radius: 15px; } }

[data-blog="pie-pagina"] {
  color: #e6d6bf;
  background-color: #343a40; }

/*========Secciones-Movil========*/
[data-blog="analisis-main"] article {
  margin: 10px 0px; }

[data-analisis="video_analisis"] {
  max-width: 600px;
  margin: auto;
  margin-bottom: 1rem; }

[data-analisis="contenido"] {
  margin-top: 90px; }

/*========Version Desktop========*/
@media (min-width: 900px) {
  [data-blog="analisis-main"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

/*========Clases-Movil========*/
.conclusion {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #a24069; }

.video {
  display: block;
  width: 100%; }

.link-analisis {
  color: #a24069;
  font-weight: bold; }

.afavor {
  color: #68dbc4;
  font-weight: bold; }

.encontra {
  color: #dc7633;
  font-weight: bold; }
