/*========Secciones-Movil========*/

    [data-analisis="video_analisis"]{
        max-width: 600px;
        margin: auto;
        margin-bottom: 1rem;
    }

    [data-analisis="contenido"]{
        margin-top: 90px; 
    }

/*========Clases-Movil========*/
    .conclusion{
        border: 2px solid black;
        border-radius: 5px;
        background-color: $red;
    }

    .video{
        display: block;
        width: 100%;
    }

    .link-analisis{
        color: $link-analisis;
        font-weight: bold;
    }

    .afavor{
        color: #68dbc4;
        font-weight: bold;
    }

    .encontra{
        color: #dc7633;
        font-weight: bold;
    }



    .off{
        display: none;
    }

    .on{
        display: block;
    }
    