/*========Clases-Movil========*/
//Clases del Colapsable
    .bkgcollapse-false{
        background-color: $red;
    }

    .bkgcollapse-true{
        background-color: $blue;
    }

    .link-collapse{
        color: $white;
    }

    .link-color-analisis{
        color: $blue;
    }

//Clases Varias
    .conclusion{
        border: 2px solid black;
        border-radius: 5px;
        background-color: $red;
    }

    .video{
        display: block;
        width: 100%;
    }

    .link-analisis{
        color: $link-analisis;
        font-weight: bold;
    }

    .afavor{
        color: #68dbc4;
        font-weight: bold;
    }

    .encontra{
        color: #dc7633;
        font-weight: bold;
    }

    .flex-movil{
        display: block;
    }


/*========Imagen Portada Reseña========*/
    #outlast-card{
        height: 100vh;
        background-image: url("../analisis/img/Outlast/outlast-card.jpg");
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    #deepRockGalactic-card{
        height: 100vh;
        background-image: url("../analisis/img/DeepRockGalactic/deepRock.jpg");
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    #enterTheGungeon-card{
        height: 100vh;
        background-image: url("../analisis/img/EnterTheGungeon/gungeon-card.jpg");
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

   
/*========Version Movil========*/
//Seccion Principal Reseña
    [data-blog="analisis-main"] article>div{
        margin: 10px 0px;
    } 

//Seccion Reseña
    [data-analisis="video_analisis"]{
        max-width: 600px;
        margin: auto;
        margin-bottom: 1rem;
    }

    [data-analisis="contenido"]{
        margin-top: 90px; 
    }
    
/*========Version Desktop========*/
    @media (min-width: 900px) { 
        //Seccion Principal Analisis
        [data-blog="analisis-main"]{
            display: flex;
            justify-content: space-between;
        }  

        .flex-movil{
            display: flex;
            justify-content: space-between;
        }
        
    }



