/*========Secciones-Movil========*/

//Imagen de presentacion
    [data-blog="cabecera-img"]{
        height: 100vh;
        background-image: url("../img/ninanbu.svg");
        background-attachment: fixed;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

//Cabecera Principal del Main
    [data-blog="cabecera-principal"]{
        padding: 50px 0;
    }

    [data-blog="cabecera-bis"]{
        display: block;
    }

//Cabeceras Secundarias de Web



/*========Secciones-Desktop========*/
    @media (min-width: 900px) { 

    //Cabecera Principal del Main
        [data-blog="cabecera-principal"]{
            padding: 100px 0;
        }

        [data-blog="cabecera-bis"]{
            display: flex;
        }

        [data-blog="cabecera-bis"]>article{
            margin-left: 20px;
        }

    //Cabeceras Secundarias de Web


    }


