//Version Movil    
//Contenido Principal

    [data-blog="contenido"]{
        background-color: $red;
    }

//Version Desktop
    @media (min-width: 900px) { 
        
        [data-blog="contenido"]{
            padding: ($padding - 50) 0;
            background-color: $red;
        }
        
    }

