//Version Movil    
//Contenido Principal

    [data-blog="ultimas-novedades"]{
        background-color: $white;
    }

    [data-blog="ultimas-novedades"]{
        background-color: $white;
    }
    
    [data-blog="extras"]{
        font-size: 1.4rem;
        background-color: $red;
    }

    [data-blog="cartelera-uno"]{
        height: 45vh;
        background-image: url('../noticias/img/Police Stories/police.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: $link;
    }

    [data-blog="cartelera-dos"]{
        height: 45vh;
        background-image: url('../noticias/img/Police Stories/police.png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

//Version Desktop
    @media (min-width: 900px) { 
        
        [data-blog="ultimas-novedades"]{
            padding: ($padding - 50) 0;
            background-color: $white;
        }

        [data-blog="extras"]{
            font-size: 3rem;
        }
        
    }
