/*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*\
    Build Seccion Movil
\*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*/

    .componentes-box{
        border: 1px solid black;
        border-radius: 5px;

        margin: 10px 0 10px 0;
        padding: 10px;

        background-color: $red;
    }


/*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*\
    Build Seccion Desktop
\*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*/

    @media (min-width: 900px) { 
        //Build
        .componentes-box{
            margin: 30px 0 200px 0;
            padding: 10px;
        }

        
    }
