//Clases "Varias"
    //Backgrounds
    .back-slide{
        background-color: rgba(51, 51, 51,.6);
        border-radius: 15px;
        padding: .5rem;
    }

    .back-red{
        background-color: $blue;
    }
    
    //Imagenes
    .img{
        width: 250px;
        height: 150px;
    }

    //Links
    .link-twitch{
        color: $purple;
        font-weight: 400;
    }

    .link-negro{
        color: $black;
        font-weight: 400;
    }

    //Hide
    .noshow-mobile{
        display: none;
    }

    //Video


    //Padding,Margin,Border
    .b2{
        border: 2px solid black;
    }


    .listas{
        list-style: inherit;
    }