//Clases "Varias"

    .slide-black-content{
        background-color: rgba(51, 51, 51,.6);
        border-radius: 15px;
        padding: .5rem;
    }

    .img{
        width: 250px;
        height: 150px;
    }
